@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background-color: pink;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.btn a {
  color: white;
  font-weight: 500;
}

.btn:hover {
  background-color: pink;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background-color: rgb(146, 229, 229);
}

/* start nav */

.navbarSection header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.5);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
  width: 100%;
  padding: 1rem;
  z-index: 10000;
}

.logo {
  color: black;
  font-weight: 600;
  cursor: pointer;

  .icon {
    font-size: 25px;
    color: pink;
    transform: translateY(5px);
  }
}

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(245, 245, 245);

    position: absolute;
    height: max-content;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    top: -100rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.5s ease-in-out;

    .navLists {
      flex-direction: column;
      padding: 0.5rem 0;

      .navItem {
        padding: 0.5rem 0;

        .navLink {
          color: black;
          font-size: 0.9rem;
          font-weight: 600;
          &:hover {
            color: plum;
          }
        }
      }
      .btn {
        margin-top: 1rem;
        a {
          font-weight: 600;
        }
      }
    }

    .closeNavbar {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: pink;
      &:hover {
        color: plum;
      }
    }
  }
  .activeNavbar {
    top: 7rem;
  }
}

.toggleNavbar {
  .icon {
    font-size: 25px;
    color: pink;

    &:hover {
      color: plum;
    }
  }
}
/* end nav */

/* start home */

.home {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.home video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

.home .homeContent {
  width: 100%;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: white;
  z-index: 100;

  .textDiv {
    padding: 2rem 0;

    .smallText {
      font-size: 13px;
      text-transform: uppercase;
    }

    .homeTitle {
      position: relative;
      font-size: 1.8rem;
    }
  }
}

.home .cardDiv {
  position: relative;
  padding: 2rem 1rem;
  background-color: aliceblue;
  gap: 1rem;
  border-radius: 12px;
}

.home label {
  display: block;
  color: rebeccapurple;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}

.home .label_total {
  justify-content: space-between;
  align-items: center;
  color: aqua;
}

.home .input {
  height: 40px;
  padding: 0 1rem;
  background-color: gainsboro;
  border-radius: 3rem;
}

.home .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  &::placeholder {
    font-size: 13px;
  }
}
.home .input .icon {
  margin-left: 10px;
  font-size: 18px;
}

.input[type="range"] {
  background: blue;
}

.home .sreachOption {
  position: absolute;
  background-color: palegreen;
  width: max-content;
  bottom: -0.7rem;
  column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: crimson;
  }
}

.sreachOption .icon {
  font-size: 18px;
}

.sreachOption span {
  font-size: 13px;
}
/* end home */

/* start main */

.main {
  width: 100%;
  .secTitle {
    .title {
      position: relative;
      width: max-content;
      margin: 3rem 0;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        background-color: palevioletred;
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
      }
    }
  }
}
.secContent {
  justify-content: center;
  gap: 1.5rem;

  .singleDest {
    padding: 1rem;
    height: 100%;
    display: grid;
    row-gap: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    overflow: hidden;
    &:hover {
      background-color: burlywood;
      box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
      transition: 0.3 ease;
    }
    .cardInfo {
      .destTitle {
        font-size: 1.25rem;
      }
      .containerr {
        gap: 0.5rem;

        .icon {
          font-size: 18px;
          color: rgb(149, 134, 134);
        }
        .name {
          color: rgb(149, 134, 134);
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .fees {
      width: 100%;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem 0;
      border-top: 1.5px solid gray;
      border-bottom: 1.5px solid gray;

      .grade {
        color: rgb(149, 134, 134);
        max-width: 100px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .price {
        font-size: 2rem;
      }
    }

    .desc {
      font-size: 13.5px;
      color: rgb(111, 105, 105);
      font-weight: 500;
    }

    .btn {
      margin-top: 1rem;
      color: white;
      width: fit-content;
      font-weight: 600;
      gap: 0.5rem;

      .icon {
        align-items: center;
        font-size: 18px;
      }
    }
  }
}

.grade small {
  text-align: center;
  background-color: plum;
  border-radius: 1rem;
  padding: 1px 10px;
  font-size: 10px;
  color: black;
}

/* end main */
/* start footer */
.footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;

  .videoDiv {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .secContent {
    width: 100%;
    height: max-content;
    padding: 2rem initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    row-gap: 2rem;

    .contactDiv {
      justify-content: space-around;
      flex-direction: column;
      gap: 1rem;

      .btn {
        width: 100%;
        justify-content: center;
        color: white;
        font-weight: 500;
        gap: 0.5rem;

        .icon {
          font-size: 18px;
        }
      }
    }
  }
}
.footer .text {
  text-align: center;
}
.footer .text small {
  font-size: 13px;
  font-weight: 400;
  color: white;
}

.footer .text h2 {
  color: white;
  font-size: 1.8rem;
}

.footer .inputDiv {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

.footer .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  color: white;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }
}

.footer .footerCard {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  .footerIntro {
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .logoDiv {
    .logo {
      color: black;
      font-weight: 600;
    }
    .icon {
      font-size: 25px;
      color: palevioletred;
      margin-right: 10px;
    }
  }

  .footerParagraph {
    font-size: 13px;
    color: grey;
  }

  .footerSocial {
    column-gap: 0.5rem;

    .icon {
      color: black;
      font-size: 25px;

      &:hover {
        color: plum;
      }
    }
  }
}

.footer .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  .linkGroup {
    .groupTitle {
      display: block;
      font-weight: 600;
      color: black;
      margin-bottom: 0.5rem;
    }

    .footerList {
      font-size: 15px;
      color: grey;
      transition: 0.3s ease-in-out;

      .icon {
        font-size: 15px;
        color: gray;
      }
      &:hover {
        color: aquamarine;
        transform: translateX(7px);

        .icon {
          color: plum;
        }
      }
    }
  }
}

.footer .footerDiv {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  padding: 0.5rem 2rem;
}
.footer .footerDiv small {
  font-size: 10px;
  color: white;
}

.footer .videoDiv video {
  height: 100%;
  object-fit: cover;
}

/* end footer */

/* media queries */

@media (min-width: 769px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }

  .navbar {
    .navItem {
      .navLink {
        color: black;
        padding: 0 0.45rem;
        font-size: 0.9rem;
        font-weight: 500;
        &:hover {
          color: aqua;
        }
      }
    }
    .btn {
      margin-left: 1rem;
      a {
        color: white;
        font-weight: 500;
      }
    }
  }

  .home {
    height: 70vh;
    .homeContent {
      .textDiv {
        .smallText {
          font-size: 16px;
        }

        .homeTitle {
          position: relative;
          font-size: 2.3rem;
          width: max-content;

          &::after {
            position: absolute;
            content: "";
            background-color: plum;
            height: 5px;
            width: 145px;
            right: 0;
            bottom: 5px;
            z-index: -1;
          }
        }
      }

      .cardDiv {
        padding: 2rem 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .main {
    .title {
      font-size: 1.5rem;
      &::after {
        width: 155px !important;
      }
    }

    .secContent {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }

  .footer .footerCard {
    flex-direction: row;
  }

  .footer .footerDiv {
    justify-content: space-between;
  }

  .footer .footerParagraph {
    font-size: 15px;
  }

  .footer .footerSocial {
    column-gap: 0.5rem;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 80% !important;
    margin: auto !important;
  }

  .home {
    height: 100vh;
  }
}
